### Frecuencia con la que realizo danza

#### Diseño del proceso de recolección: bitácora física

#### Recopilación de datos:
###### Lunes: 1 hora de 19:00 a 20:00
###### Martes: 1 hora y 30 minutos, de 20:30 a 22:00
###### Miercóles: nada
###### Jueves: 1 hora y 30 minutos, de 20:30 a 22:00
###### Viernes: nada
###### Sábado: 1 hora de 12:30 a 13:30

###### Los primeros 10 minutos calentamiento
###### Luego, 20 minutos de clases técnica
###### El resto, ensayar coreografía

#### Una vez recopilados los datos:

In [1]:
import pandas as pd

data1 = {
    'Día': ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
    'Duración': ['1 hora', '1 hora', 'Nada', '1 hora', 'Nada', '1 hora'],
    'Horario': ['19:00 - 20:00', '20:30 - 21:30', '', '20:30 - 21:30', '', '12:30 - 13:30']
}

df1 = pd.DataFrame(data1)

print(df1)

         Día Duración        Horario
0      Lunes   1 hora  19:00 - 20:00
1     Martes   1 hora  20:30 - 21:30
2  Miércoles     Nada
3     Jueves   1 hora  20:30 - 21:30
4    Viernes     Nada
5     Sábado   1 hora  12:30 - 13:30

In [2]:
import csv

data1 = {
 'Día': ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
    'Duración': ['1 hora', '1 hora', 'Nada', '1 hora', 'Nada', '1 hora'],
    'Horario': ['19:00 - 20:00', '20:30 - 21:30', '', '20:30 - 21:30', '', '12:30 - 13:30']
}

df1 = pd.DataFrame(data1)

In [3]:
df1

         Día Duración        Horario
0      Lunes   1 hora  19:00 - 20:00
1     Martes   1 hora  20:30 - 21:30
2  Miércoles     Nada
3     Jueves   1 hora  20:30 - 21:30
4    Viernes     Nada
5     Sábado   1 hora  12:30 - 13:30

In [4]:
df1.to_csv('dataframe1.csv', index=False)

In [5]:
import pandas as pd

data2 = {
    'Día': ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
    'Duración Total': ['1 hora', '1 hora y 30 minutos', 'Nada', '1 hora y 30 minutos', 'Nada', '1 hora'],
    'Calentamiento': ['10 minutos', '10 minutos', 'N/A', '10 minutos', 'N/A', '10 minutos'],
    'Clases Técnicas': ['20 minutos', '20 minutos', 'N/A', '20 minutos', 'N/A', '20 minutos'],
    'Ensayo Coreografía': ['30 minutos', '1 hora', 'N/A', '1 hora', 'N/A', '30 minutos']
}

df2 = pd.DataFrame(data2)


print(df2)

         Día       Duración Total Calentamiento Clases Técnicas  \
0      Lunes               1 hora    10 minutos      20 minutos
1     Martes  1 hora y 30 minutos    10 minutos      20 minutos
2  Miércoles                 Nada           N/A             N/A
3     Jueves  1 hora y 30 minutos    10 minutos      20 minutos
4    Viernes                 Nada           N/A             N/A
5     Sábado               1 hora    10 minutos      20 minutos

  Ensayo Coreografía
0         30 minutos
1             1 hora
2                N/A
3             1 hora
4                N/A
5         30 minutos

In [6]:
import csv

data2 = {
    'Día': ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
    'Duración Total': ['1 hora', '1 hora y 30 minutos', 'Nada', '1 hora y 30 minutos', 'Nada', '1 hora'],
    'Calentamiento': ['10 minutos', '10 minutos', 'N/A', '10 minutos', 'N/A', '10 minutos'],
    'Clases Técnicas': ['20 minutos', '20 minutos', 'N/A', '20 minutos', 'N/A', '20 minutos'],
    'Ensayo Coreografía': ['30 minutos', '1 hora', 'N/A', '1 hora', 'N/A', '30 minutos']
}

df2 = pd.DataFrame(data2)

In [7]:
df2

,Día,Duración Total,Calentamiento,Clases Técnicas,Ensayo Coreografía
0,Lunes,1 hora,10 minutos,20 minutos,30 minutos
1,Martes,1 hora y 30 minutos,10 minutos,20 minutos,1 hora
2,Miércoles,Nada,N/A,N/A,N/A
3,Jueves,1 hora y 30 minutos,10 minutos,20 minutos,1 hora
4,Viernes,Nada,N/A,N/A,N/A
5,Sábado,1 hora,10 minutos,20 minutos,30 minutos

In [8]:
df2.to_csv('dataframe2.csv', index=False)

In [5]:
import pandas as pd